{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
{% endblock %}
{% block content %}
    <section class="section">
        <div class="container">
            <header class="section__title">
                <h2>Эксперты</h2>
            </header>

            <div class="row listings-grid">
                {% for agent in agents %}
                    <div class="col-sm-6 col-md-3">
                        <div class="listings-grid__item">
                            <a href="#">
                                <div class="listings-grid__main">

                                    <img src="data:image/png;base64,{{ agent.Photo }}" alt="">
                                </div>
                                <div class="listings-grid__body">
                                    <h5>{{ agent.Name }}</h5>
                                    <small>{{ agent.Job }}</small>
                                    <br>
                                    {% for k in agent.Communications %}
                                        <small>{{ k.Number }}</small>
                                    {% endfor %}
                                </div>

                                <ul class="listings-grid__attrs">
                                    <li class="rmd-rate" data-rate-value="5" data-rate-readonly="true"></li>
                                </ul>
                            </a>

                            <div class="actions listings-grid__favorite">
                                <div class="actions__toggle">
                                    <input type="checkbox">
                                    <i class="zmdi zmdi-favorite-outline"></i>
                                    <i class="zmdi zmdi-favorite"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </section>
{% endblock %}


