{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
{% endblock %}
{% block content %}
    <section class="section">
        <div class="container">
            <header class="section__title section__title-alt">
                <h2>{{ listing.Name }}</h2>
                <small>{{ listing.Address }}</small>

                <div class="actions actions--section">
                    <div class="actions__toggle">
                        <input type="checkbox">
                        <i class="zmdi zmdi-favorite-outline"></i>
                        <i class="zmdi zmdi-favorite"></i>
                    </div>
                    <a href="#" data-rmd-action="print"><i class="zmdi zmdi-print"></i></a>
                </div>
            </header>

            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="detail-media">
                            <div class="tab-content">
                                <div class="tab-pane fade in active light-gallery" id="detail-media-images">
                                    {% for img in listing.image_list|slice:":10" %}
                                        <a href="{{ img.url }}"
                                           {% if listing.UsrVerdict %}{% if forloop.last %}data-sub-html="<div class='stamp stamp-text'>{{ listing.UsrVerdict }}</div>"
                                           {% endif %}{% endif %}
                                        >
                                            <img src="{{ img.url }}" alt="">
                                        </a>
                                    {% endfor %}
                                </div>
                                <div class="tab-pane fade" id="detail-media-map">
                                    <div id="listing-map"></div>
                                </div>
                            </div>

                            <ul class="detail-media__nav hidden-print">
                                <li class="active"><a href="#detail-media-images" data-toggle="tab"><i
                                        class="zmdi zmdi-collection-image"></i></a></li>
                                {% if listing.Longitude %}
                                    <li>
                                        <a href="#detail-media-map" data-toggle="tab"><i class="zmdi zmdi-map"></i></a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>

                        <div class="detail-info">
                            <div class="detail-info__header clearfix">
                                <strong>{{ listing.Price }} руб.</strong>
                                {% if listing.usroriginalid|length > 0 %}
                                    <span>ID: {{ listing.usroriginalid }}</span>
                                {% endif %}
                            </div>

                            <ul class="detail-info__list clearfix">
                                <li>
                                    <span>Тип</span>
                                    <span>{{ listing.PropertyType }}</span>
                                </li>
                                {% for prop in listing.amenities_list %}
                                    <li>
                                        <span>{{ prop.name }}</span>
                                        <span>{{ prop.value }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% if listing.bool_amenities_list %}
                        <div class="card detail-amenities">
                            <div class="card__header">
                                <h2>Свойства</h2>
                            </div>

                            <div class="card__body">
                                <ul class="detail-amenities__list">
                                    {% for p in listing.bool_amenities_list %}
                                        <li class="{{ p.class }}">{{ p.name }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                    {% if listing.Description %}
                        <div class="card">
                            <div class="card__header">
                                <h2>Описание объекта</h2>
                            </div>
                            <div class="card__body">
                                <p>{{ listing.Description|default:"Описание отсутствует" }}</p>

                            </div>
                        </div>
                    {% endif %}
                </div>

                <div id="inquire" class="col-md-4 rmd-sidebar-mobile">
                    <div class="card hidden-print" id="thankyou" style="display: none">
                        <div class="card__header">
                            <h2 class="text-center">Спасибо!</h2>
                            <small class="text-center">Наши эксперты свяжутся с Вами в ближайшее время.</small>
                        </div>
                    </div>
                    <div class="card hidden-print" id="contact">
                        <div class="card__header">
                            <h2>Оставить заявку</h2>
                            <small>Позвоните нам или заполните форму</small>
                        </div>

                        <div class="card__body">
                            <div class="inquire__number">
                                <i class="zmdi zmdi-phone"></i>
                                +7 495 230 22 43
                            </div>

                            <div class="form-group form-group--float">
                                <input type="text" class="form-control" id="form_name">
                                <label>Ваше имя</label>
                                <i class="form-group__bar"></i>
                            </div>
                            <div class="form-group form-group--float">
                                <input type="text" class="form-control" id="form_email">
                                <label>Email</label>
                                <i class="form-group__bar"></i>
                            </div>
                            <div class="form-group form-group--float">
                                <input type="text" class="form-control" id="form_phone">
                                <label>Контактный телефон</label>
                                <i class="form-group__bar"></i>
                            </div>
                            <div class="form-group form-group--float">
                                <textarea id="form_message" onkeyup="textAreaAdjust(this)"
                                          class="form-control textarea-autoheight">Здравствуйте, интересует объект {{ listing.Name }}</textarea>
                                <label>Сообщение</label>
                                <i class="form-group__bar"></i>
                            </div>

                            <small class="text-muted">Отправляя данные формы, Вы даёте согласие на обработку
                                персональных данных.
                            </small>
                        </div>

                        <div class="card__footer">
                            <button class="btn btn-primary" onclick="sendForm();">Отправить запрос</button>
                        </div>
                    </div>
                    <div class="card hidden-xs hidden-sm hidden-print">
                        <div class="card__header">
                            <h2>Вам также может понравиться</h2>
                            <small>Мы рекомендуем следующие объекты:</small>
                        </div>

                        <div class="list-group">
                            {% for l in suggested %}
                                <a href="{{ l.absolute_url }}" class="list-group-item media">
                                    <div class="pull-left">
                                        <img src="{{ l.main_image.absolute_url }}" alt="" class="list-group__img"
                                             width="65">
                                    </div>
                                    <div class="media-body list-group__text">
                                        <strong>{{ l.Name }}</strong>
                                        <small>{{ l.Price }} руб.</small>
                                    </div>
                                </a>
                            {% endfor %}
                            <div class="p-10"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        function isRetina() {
            return ((window.matchMedia && (window.matchMedia('only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min-resolution: 75.6dpcm)').matches || window.matchMedia('only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2)').matches)) || (window.devicePixelRatio && window.devicePixelRatio >= 2)) && /(iPad|iPhone|iPod)/g.test(navigator.userAgent);
        }

        function initMap() {
            var mapElement = document.getElementById('listing-map');
            var myLatLng = {lat: parseFloat({{listing.Latitude}}), lng: parseFloat({{listing.Longitude}})};
            var mapOptions = {
                zoom: 15,
                disableDefaultUI: true,
                //scrollwheel: false,
                center: new google.maps.LatLng(myLatLng),
                styles: [{
                    "featureType": "landscape",
                    "stylers": [{"hue": "#FFBB00"}, {"saturation": 43.400000000000006}, {"lightness": 37.599999999999994}, {"gamma": 1}]
                }, {
                    "featureType": "road.highway",
                    "stylers": [{"hue": "#FFC200"}, {"saturation": -61.8}, {"lightness": 45.599999999999994}, {"gamma": 1}]
                }, {
                    "featureType": "road.arterial",
                    "stylers": [{"hue": "#FF0300"}, {"saturation": -100}, {"lightness": 51.19999999999999}, {"gamma": 1}]
                }, {
                    "featureType": "road.local",
                    "stylers": [{"hue": "#FF0300"}, {"saturation": -100}, {"lightness": 52}, {"gamma": 1}]
                }, {
                    "featureType": "water",
                    "stylers": [{"hue": "#0078FF"}, {"saturation": -13.200000000000003}, {"lightness": 2.4000000000000057}, {"gamma": 1}]
                }, {
                    "featureType": "poi",
                    "stylers": [{"hue": "#00FF6A"}, {"saturation": -1.0989010989011234}, {"lightness": 11.200000000000017}, {"gamma": 1}]
                }]
            };
            var mapMarkerImg;

            if (isRetina()) {
                mapMarkerImg = new google.maps.MarkerImage('{% static 'img/icons/map_marker@2x.png' %}', null, null, null, new google.maps.Size(20, 28));
            }
            else {
                mapMarkerImg = '{% static 'img/icons/map_marker.png' %}';
            }

            var map = new google.maps.Map(mapElement, mapOptions);

            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                icon: mapMarkerImg
            });
        }

    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpLI52tH-7AU25Kxt0fgy3fmYZgmGQhlw&callback=initMap">
    </script>
    <script>
        $('#detail-media-images').click(function () {
            var verdict = `{{ listing.UsrVerdict }}`;
            if (verdict.length > 0) {
                $('.lg-thumb .lg-thumb-item:last-child').prepend("<div class='stamp stamp-text stamp-thumb'>" + verdict + "</div>");
            }
        });

        var sendForm = function () {
            $.post({
                url: "/handle_forms/",
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({
                    "name": document.getElementById('form_name').value,
                    "email": document.getElementById('form_email').value,
                    "phone": document.getElementById('form_phone').value,
                    "message": document.getElementById('form_message').value,
                    "tag": "Интерес к объекту"
                }),
                success: function () {
                    console.log('done');
                }
            });
            $("#contact").fadeOut(50).promise().done(function () {
                $("#thankyou").fadeIn('slow');
            });
        };

        var textAreaAdjust = function (o) {
            o.style.height = "1px";
            o.style.height = (25 + o.scrollHeight) + "px";
        };
        textAreaAdjust(document.getElementById("form_message"));
    </script>
{% endblock %}



