{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
{% endblock %}
{% block content %}

    <section class="section">
        <div class="container">
            <header class="section__title">
                <h2>Листинги</h2>
            </header>

            <div class="row listings-grid">
                {% for listing in listings %}
                    <div class="
                            {% if head %}
                            {% if forloop.counter0 == 0 %}
                            col-md-12
                            {% elif forloop.counter0 == 1 or forloop.counter0 == 2 %} col-md-6
                            {% else %} col-md-4 eq-height
                            {% endif %}
                            {% else %} col-md-4 eq-height
                            {% endif %} clear-row ">
                        <div class="listings-grid__item">
                            {% if head %}
                                {% if forloop.counter0 == 0 %} <img src="{% static 'img/gold.png' %}" class="medal">
                                {% endif %}
                                {% if forloop.counter0 == 1 %} <img src="{% static 'img/silver.png' %}" class="medal">
                                {% endif %}
                                {% if forloop.counter0 == 2 %} <img src="{% static 'img/bronze.png' %}" class="medal">
                                {% endif %}
                            {% endif %}
                            <a href="{{ listing.absolute_url }}">
                                <div class="listings-grid__main">
                                    <img src="



                                            {% with default_image=STATIC_URL|add:"img/no-photo.jpg" %}{{ listing.main_image.absolute_url|default:default_image }}{% endwith %}
                                    " alt="">

                                    <div class="listings-grid__price">{{ listing.Price }} руб.</div>
                                </div>

                                <div class="listings-grid__body">
                                    <small>{{ listing.Address }}</small>
                                    <h5>{{ listing.Name }}</h5>
                                </div>

                                <ul class="listings-grid__attrs">
                                    <li class="detail-info__header clearfix">
                                        {% if listing.usroriginalid|length > 0 %}
                                            <span style="margin-left: 10px;">ID: {{ listing.usroriginalid }}</span>
                                        {% endif %}
                                        <span>{{ forloop.counter0|add:listings.start_index }} МЕСТО</span>
                                    </li>
                                    {% for p in listing.amenities_list %}
                                        {% if p.name == 'Количество санузлов' %}
                                            <li>
                                                <i class="listings-grid__icon listings-grid__icon--bath"></i> {{ p.value }}
                                            </li>
                                        {% endif %}
                                        {% if p.name == 'Количество спален' %}
                                            <li>
                                                <i class="listings-grid__icon listings-grid__icon--bed"></i> {{ p.value }}
                                            </li>
                                        {% endif %}

                                    {% endfor %}
                                </ul>
                            </a>

                            <div class="actions listings-grid__favorite">
                                <div class="actions__toggle">
                                    <input type="checkbox">
                                    <i class="zmdi zmdi-favorite-outline"></i>
                                    <i class="zmdi zmdi-favorite"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <nav class="text-center">
                <ul class="pagination">
                    {% if listings.has_previous %}
                        <li>
                            <a href="?page={{ listings.previous_page_number }}" aria-label="Предыдущая">
                                <i class="zmdi zmdi-chevron-left"></i>
                            </a>
                        </li>
                    {% endif %}

                    {% if listings.has_next %}
                        <li>
                            <a href="?page={{ listings.next_page_number }}" aria-label="Следующая">
                                <i class="zmdi zmdi-chevron-right"></i>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </section>

    <!-- Advanced Listing Search -->
    <button class="btn btn--action" style="color:white" data-rmd-action="block-open" data-rmd-target="#advanced-search">
        УТОЧНИТЬ ПОИСК
    </button>

    <aside id="advanced-search" class="rmd-sidebar">
        <form class="card">
            <div class="card__header">
                <h2>Поиск</h2>
            </div>

            <div class="card__body m-t-20">
                <div class="card p-30">
                    <div>
                        <div class="row">
                            <div class="form-group form-group--range">
                                <label>Бюджет (включая торг до 20% от собственника)</label>

                                <div class="input-slider-values clearfix">
                                    <div class="pull-left"><span id="property-price-upper">1</span>
                                    </div>
                                    <div class="pull-right"><span id="property-price-lower">1000</span>
                                    </div>
                                </div>
                                <div id="property-price-range"
                                     class="noUi-target noUi-ltr noUi-horizontal noUi-background">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group form-group--range">
                                <label>Направление</label>

                                <div class="input-slider-values clearfix">
                                    <div class="pull-left"><span></span><span
                                            id="">молодая Рига</span></div>
                                    <div class="pull-right"><span></span><span id="">престижная
                                                Рублевка</span></div>
                                </div>
                                <div id="vector-slider"
                                     class="noUi-target noUi-ltr noUi-horizontal noUi-background">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group form-group--range">
                                <label>Расстояние</label>

                                <div class="input-slider-values clearfix">

                                    <div class="pull-left"><span></span><span
                                            id="">близко</span></div>
                                    <div class="pull-right"><span></span><span id="">заповедник</span></div>
                                </div>
                                <div id="distance-slider"
                                     class="noUi-target noUi-ltr noUi-horizontal noUi-background">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group form-group--range">
                                <label>Материал</label>

                                <div class="input-slider-values clearfix">
                                    <div class="pull-left"><span></span><span
                                            id="">на века</span></div>
                                    <div class="pull-right"><span></span><span
                                            id="">устал от бетонных коробок</span></div>
                                </div>
                                <div id="material-slider"
                                     class="noUi-target noUi-ltr noUi-horizontal noUi-background">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group form-group--range">
                                <label>Цена/качество</label>

                                <div class="input-slider-values clearfix">
                                    <div class="pull-left"><span></span><span
                                            id="">доступнее</span></div>
                                    <div class="pull-right"><span></span><span id="">качественнее</span></div>
                                </div>
                                <div id="price-slider"
                                     class="noUi-target noUi-ltr noUi-horizontal noUi-background">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="">
                                <button class="btn btn-sm btn-primary search-btn">Найти</button>
                                <a href="#" class="btn btn-sm btn-link" data-rmd-action="block-close"
                                   data-rmd-target="#advanced-search">Отмена</a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </form>
    </aside>
{% endblock %}

{% block extra_js %}
    {% include 'includes/search_context.html' %}
{% endblock %}
