{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block extrahead %}
{% endblock %}
{% block content %}
    <section class="section">
        <div class="container">
            <header class="section__title">
                <h2>Блог</h2>
                <small>Новости сайта</small>
            </header>

            <div class="row">
                <div class="col-md-12 col-sm-12">
                    {% for article in blog_full %}
                        <article class="card">

                            <div class="card__header">
                                <h2>{{ article.Name }}</h2>
                                <small>{{article.CreatedOn}}</small>
                            </div>
                            <div class="card__body">
                                {% autoescape off %}
                                    {{ article.Notes }}
                                {% endautoescape %}
{#                                <div class="blog-more">#}
{#                                    <a href="/blog/{{ article.Id }}">Подробнее</a>#}
{#                                </div>#}
                            </div>
                        </article>
                    {% endfor %}
{#                    <nav class="text-center">#}
{#                        <ul class="pagination">#}
{#                            <li>#}
{#                                <a href="#" aria-label="Previous">#}
{#                                    <i class="zmdi zmdi-chevron-left"></i>#}
{#                                </a>#}
{#                            </li>#}
{#                            <li class="active"><a href="#">1</a></li>#}
{#                            <li><a href="#">2</a></li>#}
{#                            <li><a href="#">3</a></li>#}
{#                            <li><a href="#">4</a></li>#}
{#                            <li><a href="#">5</a></li>#}
{#                            <li>#}
{#                                <a href="#" aria-label="Next">#}
{#                                    <i class="zmdi zmdi-chevron-right"></i>#}
{#                                </a>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </nav>#}
                </div>

            </div>
        </div>
    </section>
{% endblock %}
