{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
{% endblock %}
{% block content %}
    <section class="section">
        <div class="container">
            <header class="section__title">
                <h2 style="font-size: 24px;">Обратная связь</h2>
            </header>
            <div class="contact">

                <div class="contact__inner clearfix">
                    <div class="col-sm-6">
                        <div class="contact__info">
                            <ul class="rmd-contact-list">
                                <li class="rmd-contact-list__title"><i class="zmdi zmdi-home"></i>Москва</li>
                                <li><i class="zmdi zmdi-pin"></i>г. Москва, пр. Андропова, д. 29, этаж 1, офис 55</li>
                                <li><i class="zmdi zmdi-phone"></i>+7 495 230 22 43</li>
                                <li><i class="zmdi zmdi-email"></i>ivan@vestate.su</li>
                            </ul>

                            <ul class="rmd-contact-list">
                                <li class="rmd-contact-list__title"><i class="zmdi zmdi-home"></i>Глухово</li>
                                <li><i class="zmdi zmdi-pin"></i>Красногорский р-н, д. Глухово,<br>ул. Центральная, 53а
                                </li>
                                <li><i class="zmdi zmdi-phone"></i>+7 495 230 22 43</li>
                                <li><i class="zmdi zmdi-email"></i>ivan@vestate.su</li>
                            </ul>

                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="contact__form">
                            <div class="form-group form-group--light form-group--float">
                                <input type="text" class="form-control" name="name" id="form_name">
                                <label>Ваше имя</label>
                                <i class="form-group__bar"></i>
                            </div>
                            <div class="form-group form-group--light form-group--float">
                                <input type="text" class="form-control" name="email" id="form_email">
                                <label>Email</label>
                                <i class="form-group__bar"></i>
                            </div>
                            <div class="form-group form-group--light form-group--float">
                                <input type="text" class="form-control" name="phone" id="form_phone">
                                <label>Телефон</label>
                                <i class="form-group__bar"></i>
                            </div>
                            <div class="form-group form-group--light form-group--float">
                                <textarea class="form-control textarea-autoheight" name="message"
                                          id="form_message"></textarea>
                                <label>Сообщение</label>
                                <i class="form-group__bar"></i>
                            </div>

                            <small class="mdc-text-white-darker" id="comment">Отправляя данные формы, Вы даёте согласие на обработку
                                персональных данных.
                            </small>

                            <div class="m-t-30">
                                <button onclick="sendForm()" class="btn brn-sm btn-default btn-static">Отправить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

{% endblock %}

{% block  extra_js %}
    <script>
        var sendForm = function () {
            $("#comment").text("Спасибо! Наши эксперты свяжутся с Вами в ближайшее время.");
            $.post({
                url: "/handle_forms/",
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({
                    "name": document.getElementById('form_name').value,
                    "email": document.getElementById('form_email').value,
                    "phone": document.getElementById('form_phone').value,
                    "message": document.getElementById('form_message').value,
                    "tag": "Форма обратной связи"
                })
            });
            $("#form_name").val("");
            $("#form_email").val("");
            $("#form_phone").val("");
            $("#form_message").val("");
        };
    </script>
{% endblock %}


