{% load i18n %}
<footer id="footer">
    <div class="container hidden-xs">
        <div class="row">
            <div class="col-sm-4">
                <div class="footer__block">
                    <a class="logo clearfix" href="#">
                        <div class="logo__text">
                            <span>Vestate</span>
                            <span>Агенство недвижимости</span>
                        </div>
                    </a>

                    <address class="m-t-20 m-b-20 f-14">
                        г. Москва, пр. Андропова, д. 29, этаж 1, офис 55
                    </address>
                    <address class="m-t-20 m-b-20 f-14">
                        Красногорский р-н, д. Глухово, ул. Центральная, 53а
                    </address>

                    <div class="f-20">+7 495 230 22 43</div>
                    <div class="f-14 m-t-5">ivan@vestate.su</div>

                    <div class="f-20 m-t-20">
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="footer__block footer__block--blog">
                    <div class="footer__title">Блог</div>
                    {% for post in blog %}
                        <a href="/blog">
                            {{ post.Name }}
                            <small>{{ post.CreatedOn }}</small>
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm-4">
                <div class="footer__block">
                    <div class="footer__title">
                        Наша концепция
                    </div>
                    <div>
                        <p>
                            Выбор нового дома - приятная, но очень непростая и ответственная задача. Принимая важное
                            решение на долгие годы вперёд Вы вынуждены брать на себя всю полноту ответственности за
                            выбор правильного варианта из десятков возможных.
                        </p>

                        <p>
                            Позвольте нам разделить с Вами эту ответственность. Вы не будете тратить Ваше драгоценное
                            время на выбор дома Вашей мечты, наши эксперты уже выбрали лучшие дома в каждом конкретном
                            бюджете для Вас и составили рейтинги. Просто задайте в поиске важные для Вас параметры, либо
                            позвоните нам и мы поможем Вам сделать правильный выбор.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer__bottom">
        <div class="container">
            <span class="footer__copyright">© 2015 – 2018 BOUTIQUE REAL ESTATE AGENCY</span>
        </div>

        <div class="footer__to-top" data-rmd-action="scroll-to" data-rmd-target="html">
            <i class="zmdi zmdi-chevron-up"></i>
        </div>
    </div>
</footer>