{% load i18n static %}

<div class="header__top">
    <div class="container">
        <ul class="top-nav">

            <li class="pull-right hidden-xs"><span><i class="zmdi zmdi-email"></i>ivan@vestate.su</span></li>
            <li class="pull-right hidden-xs"><span><i class="zmdi zmdi-phone"></i>+7 495 230 22 43</span></li>
        </ul>
    </div>
</div>
<div class="header__main">
    <div class="container">
        <a class="logo" href="{% url 'index' %}">
            <img src="{% static 'img/logo.png' %}" alt="" style="filter: brightness(1.3);">

            <div class="logo__text">
                <span></span>
            </div>
        </a>

        <div class="navigation-trigger visible-xs visible-sm" data-rmd-action="block-open"
             data-rmd-target=".navigation">
            <i class="zmdi zmdi-menu"></i>
        </div>

        <ul class="navigation">
            <li class="visible-xs visible-sm"><a class="navigation__close" data-rmd-action="navigation-close"
                                                 href="#"><i class="zmdi zmdi-long-arrow-right"></i></a></li>

            <li class="{% if request.resolver_match.url_name == 'index' %}active{% endif %} navigation__dropdown">
                <a href="{% url 'index' %}">Главная</a>
            </li>

            <li class="{% if request.resolver_match.url_name == 'listings' or request.resolver_match.url_name == 'listing_details' %}active{% endif %} navigation__dropdown">
                <a href="{% url 'listings' %}" class="">Листинги</a>
            </li>

            <li class="{% if request.resolver_match.url_name == 'mortgages' %}active{% endif %} navigation__dropdown">
                <a href="{% url 'mortgages' %}">Добавить объект</a>
            </li>

            <li class="{% if request.resolver_match.url_name == 'agents' %}active{% endif %}  navigation__dropdown">
                <a href="{% url 'agents' %}">Эксперты</a>
            </li>

            <li class="{% if request.resolver_match.url_name == 'contact' %}active{% endif %} navigation__dropdown">
                <a href="{% url 'contact' %}">Контакты</a>
            </li>

            <li class="{% if request.resolver_match.url_name == 'blog' %}active{% endif %} navigation__dropdown">
                <a href="{% url 'blog' %}" class="">Блог</a>
            </li>
        </ul>
    </div>
</div>
