{% load static %}
<!DOCTYPE html>
<html lang="en">
<!--[if IE 9 ]><html lang="en" class="ie9"><![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vestate</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <!-- Vendors -->

    <!-- Material design colors -->
    <link href="{% static 'vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css' %}"
          rel="stylesheet">

    <!-- CSS animations -->
    <link rel="stylesheet" href="{% static 'vendors/bower_components/animate.css/animate.min.css' %}">

    <!-- Select2 - Custom Selects -->
    <link rel="stylesheet" href="{% static 'vendors/bower_components/select2/dist/css/select2.min.css' %}">

    <!-- Slick Carousel -->
    <link rel="stylesheet" href="{% static 'vendors/bower_components/slick-carousel/slick/slick.css' %}">

    <!-- NoUiSlider - Input Slider -->
    <link rel="stylesheet" href="{% static 'vendors/bower_components/nouislider/distribute/nouislider.min.css' %}">

    <!-- LightGallery - Gallery -->
    <link rel="stylesheet" href="{% static 'vendors/bower_components/lightgallery/dist/css/lightgallery.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/bower_components/lightgallery/dist/css/lg-transitions.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'vendors/bower_components/lightgallery/dist/css/lg-fb-comment-box.min.css' %}">

    <!-- Site -->

    <link rel="stylesheet" href="{% static 'css/app.css' %}">

    <!-- Page Loader JS -->
    <!-- jQuery -->
    <script src="{% static 'vendors/bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'js/page-loader.js' %}" async></script>
</head>

<body>
<!-- Start page loader -->
<div id="page-loader">
    <div class="page-loader__spinner"></div>
</div>
<!-- End page loader -->
<header id="header" class="bg-top">
    {% include 'includes/header.html' %}
    {% block extrahead %} {% endblock %}
</header>


{% block content %} {% endblock %}


{% include 'includes/footer.html' %}

<!-- Older IE warning message -->
<!--[if lt IE 9]>
            <div class="ie-warning">
                <h1>Внимание!</h1>
                <p>Вы используете устаревшую версию Internet Explorer, пожалуйста установите <br/>любой из предложенных браузеров для доступа к сайту.</p>
                <div class="ie-warning__inner">
                    <ul class="ie-warning__download">
                        <li>
                            <a href="http://www.google.com/chrome/">
                                <img src="img/browsers/chrome.png" alt="">
                                <div>Chrome</div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/en-US/firefox/new/">
                                <img src="img/browsers/firefox.png" alt="">
                                <div>Firefox</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.opera.com">
                                <img src="img/browsers/opera.png" alt="">
                                <div>Opera</div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.apple.com/safari/">
                                <img src="img/browsers/safari.png" alt="">
                                <div>Safari</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                                <img src="img/browsers/ie.png" alt="">
                                <div>IE (Новый)</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <p>Извините за неудобства!</p>
            </div>
        <![endif]-->

<!-- Javascript -->


<!-- Bootstrap -->
<script src="{% static 'vendors/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>

<!-- Waves button ripple effects -->
<script src="{% static 'vendors/bower_components/Waves/dist/waves.min.js' %}"></script>

<!-- Select 2 - Custom Selects -->
<script src="{% static 'vendors/bower_components/select2/dist/js/select2.full.min.js' %}"></script>

<!-- Slick Carousel - Custom Alerts -->
<script src="{% static 'vendors/bower_components/slick-carousel/slick/slick.min.js' %}"></script>

<!-- Wnumb -->
<script src="{% static 'vendors/bower_components/wnumb/wNumb.js' %}"></script>

<!-- NoUiSlider -->
<script src="{% static 'vendors/bower_components/nouislider/distribute/nouislider.min.js' %}"></script>

<!-- LightGallery -->
<script src="{% static 'vendors/bower_components/lightgallery/dist/js/lightgallery-all.min.js' %}"></script>


<!-- IE9 Placeholder -->
<!--[if IE 9 ]>
<script src="{% static 'vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js' %}"></script>
        <![endif]-->

<!-- Site functions and actions -->
<script src="{% static 'js/app.min.js' %}"></script>

<script src="{% static 'js/demo/demo.js' %}"></script>
{% block  extra_js %}
{% endblock %}
</body>

</html>