{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
    <div class="jumbotron">
        <div class="container">
            <div class="row row-eq-height p-t-20" style="opacity: 0.75;">
                <div class="col-xs-12 col-md-4">
                    <div>
                        <form class="card p-30">
                            <div>
                                <div class="row">
                                    <div class="form-group form-group--range">
                                        <label>Бюджет (включая торг до 20% от собственника)</label>

                                        <div class="input-slider-values clearfix">
                                            <div class="pull-left"><span id="property-price-upper">1</span>
                                            </div>
                                            <div class="pull-right"><span id="property-price-lower">1000</span>
                                            </div>
                                        </div>
                                        <div id="property-price-range"
                                             class="noUi-target noUi-ltr noUi-horizontal noUi-background">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group form-group--range">
                                        <label>Направление</label>

                                        <div class="input-slider-values clearfix">
                                            <div class="pull-left"><span></span><span
                                                    id="">молодая Рига</span></div>
                                            <div class="pull-right"><span></span><span id="">престижная
                                                Рублевка</span></div>
                                        </div>
                                        <div id="vector-slider"
                                             class="noUi-target noUi-ltr noUi-horizontal noUi-background">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group form-group--range">
                                        <label>Расстояние</label>

                                        <div class="input-slider-values clearfix">

                                            <div class="pull-left"><span></span><span
                                                    id="">близко</span></div>
                                            <div class="pull-right"><span></span><span id="">заповедник</span></div>
                                        </div>
                                        <div id="distance-slider"
                                             class="noUi-target noUi-ltr noUi-horizontal noUi-background">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group form-group--range">
                                        <label>Материал</label>

                                        <div class="input-slider-values clearfix">
                                            <div class="pull-left"><span></span><span
                                                    id="">на века</span></div>
                                            <div class="pull-right"><span></span><span
                                                    id="">устал от бетонных коробок</span></div>
                                        </div>
                                        <div id="material-slider"
                                             class="noUi-target noUi-ltr noUi-horizontal noUi-background">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group form-group--range">
                                        <label>Цена/качество</label>

                                        <div class="input-slider-values clearfix">
                                            <div class="pull-left"><span></span><span
                                                    id="">доступнее</span></div>
                                            <div class="pull-right"><span></span><span id="">качественнее</span></div>
                                        </div>
                                        <div id="price-slider"
                                             class="noUi-target noUi-ltr noUi-horizontal noUi-background">
                                        </div>
                                    </div>
                                </div>
                                <div class="row m-t-10">
                                    <button class="btn btn-primary center-block search-btn">Найти</button>
                                </div>
                            </div>
                        </form>
                    </div>
{#                    <div class="col-md-6 p-30 card">#}
{#                        <div class="m-t-40">#}
{#                            <h2 class="text-center">ЗАГОРОДНАЯ ЖИЗНЬ#}
{#                                КЛАССА PREMIUM</h2>#}
{##}
{#                            <p class="text-center m-t-10">Добро пожаловать!#}
{#                                Мы - ваш надежный партнер и личный эксперт#}
{#                                в сфере элитной загородной недвижимости. </p>#}
{#                        </div>#}
{##}
{#                        <div class="m-t-40" style="margin-top: 120px;">#}
{#                            <h3 class="text-center">Наша концепция</h3>#}
{##}
{#                            <p class="text-center">#}
{#                                Выбор нового дома - приятная, но очень непростая и ответственная задача. Принимая важное#}
{#                                решение на долгие годы вперёд Вы вынуждены брать на себя всю полноту ответственности за#}
{#                                выбор правильного варианта из десятков возможных. </p>#}
{#                            <p class="text-center">#}
{#                                Позвольте нам разделить с Вами эту ответственность. Вы не будете тратить Ваше#}
{#                                драгоценное время на выбор дома Вашей мечты, наши эксперты уже выбрали лучшие дома в#}
{#                                каждом конкретном бюджете для Вас и составили рейтинги. Просто задайте в поиске важные#}
{#                                для Вас параметры, либо позвоните нам и мы поможем Вам сделать правильный выбор.</p>#}
{##}
{##}
{#                        </div>#}
{##}
{#                    </div>#}
                </div>
            </div>

        </div>
    </div>


{% endblock %}
{% block content %}
    <section>
    <div class="header__recommended">
        <div class="my-location">
            <div class="my-location__title">Рекомендуемые объекты</div>
        </div>

        <div class="listings-grid">
            {% for listing in listings %}
                <div class="listings-grid__item">
                    {% if forloop.counter0 == 0 %} <img src="{% static 'img/gold.png' %}" class="medal">  {% endif %}
                    {% if forloop.counter0 == 1 %} <img src="{% static 'img/silver.png' %}" class="medal">  {% endif %}
                    {% if forloop.counter0 == 2 %} <img src="{% static 'img/bronze.png' %}" class="medal"> {% endif %}
                    <a href="{{ listing.absolute_url }}">
                        <div class="listings-grid__main">
                            <img src="{{ listing.main_image.absolute_url }}" alt="" height="173px">

                            <div class="listings-grid__price">{{ listing.Price }} руб.</div>
                        </div>

                        <div class="listings-grid__body">
                            <small>{{ listing.Address }}</small>
                            <h5>{{ listing.Name }}</h5>
                        </div>

                        <ul class="listings-grid__attrs">
                            <li></li>
                        </ul>
                    </a>

                    <div class="actions listings-grid__favorite">
                        <div class="actions__toggle">
                            <input type="checkbox">
                            <i class="zmdi zmdi-favorite-outline"></i>
                            <i class="zmdi zmdi-favorite"></i>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    </section>
    <section class="section">
        <div class="container">
            <header class="section__title">
            </header>
            <div class="row row-eq-height">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card__header card__header--minimal">
                            <h2>Популярное</h2>
                        </div>
                        <div class="grid-widget grid-widget--listings">
                            {% for listing in listings_bottom|slice:":8" %}
                                <div class="col-xs-12 col-sm-6 col-md-3">
                                    <a class="grid-widget__item" href="{{ listing.absolute_url }}">
                                        <img src="{{ listing.main_image.absolute_url }}"
                                             alt="" height="208px">

                                        <div class="grid-widget__info">
                                            <h3>{{ listing.Price }} руб.</h3>
                                            <small>{{ listing.Address }}</small>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>

                        <a class="view-more" href="{% url 'listings' %}">
                            Показать все<i class="zmdi zmdi-long-arrow-right"></i>
                        </a>
                    </div>
                </div>


            </div>
        </div>
    </section>
{% endblock %}
{% block extra_js %}
    {% include 'includes/search_context.html' %}
{% endblock %}